body {
  background-color: #ffbd5b;
  margin: 30px;
}

h1,
p {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: rgb(0, 110, 255);
}

img,
.links {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.links a {
  padding: 15px;
}
